body{
    background-color: blueviolet;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

h1{
    color: yellow;
}

h4{
    color: yellowgreen;
    size: 15px;
}

h3{
    color: burlywood;
}